@import url(https://fonts.googleapis.com/css?family=Lato:400,900|Montez);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
$buttonBackground: #2c3e50;
$buttonColor: rgba(255,255,255,1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-container {
  position: relative;
  background: #cdcdcd;
  width: 170px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Clicker+Script';
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
}
.button-container button {
  width: 101%;
  height: 100%;
  font-family: 'Clicker+Script';
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  background: #414141;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.button-container button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.button-container-1 {
  position: relative;
  background: #cdcdcd;
  width: 170px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Clicker+Script';
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
}
.button-container-1 button {
  width: 101%;
  height: 100%;
  font-family: 'Clicker+Script';
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  background: #414141;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

.button-container-2 {
  position: relative;
  background: #cdcdcd;
  width: 170px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Clicker+Script';
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
}
.button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: 'Clicker+Script';
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  background: #414141;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 20px;
  margin-top: 12px;
  overflow: hidden;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.content {
  font-family: Georgia, serif;
  color: #fff;
  position: absolute;
  top: 38%;
  width: 100%;
  text-align: center;
  margin-top: -11%;
  font-size: 20px;
}

.content-title {
  font-style: oblique;
  font-size: 80px;
  margin-bottom: 35px;
}

h1,h2,h3 {

  span {
    font-family: Montez;
    font-size: 1.9em;
    font-weight: 300;
    margin: 0 0.3em;
    color: #ff0080;
  }

}

h1 {
  font-size: 1.9em;
  width: 900px;
  margin: 0 auto 0.4em;
  text-shadow: 0 2px 1px black;
}

h4 {
  font-size: 2.2em;
  text-shadow: 0 2px 1px black;
}

a {
  text-decoration: none;
}

:root {
  font-size: calc(0.5vw + 1vh + 0.5vmin);
}
.intro {
  position: relative;
  margin: 2em;
  padding: 0.2em 0.6em;
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  max-width: 26em;
}
.intro h1 {
  margin-bottom: 0.5em;
  line-height: 1;
  font-weight: 100;
}
#CrossFade {
  background: #fff;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#CrossFade img {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background: #000;
  backface-visibility: hidden;
  opacity: 0;
  transform: scale(1.4) rotate(12deg);
  animation: CrossFade 24s infinite;
}
#CrossFade img:nth-child(3) {
  animation-delay: 6s;
}
#CrossFade img:nth-child(2) {
  animation-delay: 12s;
}
#CrossFade img:nth-child(1) {
  animation-delay: 18s;
}
/* 

$duration = 12
$slides = 4
$step = $duration/$slides
setDelayRevers($duration, $slides)
  
  for index in (2..$slides)
    &:nth-child({index -1}) 
      animation-delay ($step*index)s

#CrossFade
  height 100vh
  overflow hidden
  position relative
  
  display flex
  img
    align-self center
    position absolute
    
    min-width 100%
    min-height 100%
    height auto
    
    backface-visibility hidden
    opacity 0
  
    transform scale(1.4) rotate(12deg)
    animation CrossFade ($duration)s infinite 
    setDelayRevers($duration, $slides)   
@keyframes CrossFade
  25%
    opacity 1
    transform scale(1) rotate(0)
  40%
    opacity 0
    
*/
@-moz-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1.1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@-webkit-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1.1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@-o-keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1.1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}
@keyframes CrossFade {
  25% {
    opacity: 1;
    transform: scale(1.1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    margin: auto;
    top: 25%;
    text-align: center;
    font-size: 20px;
  }

  .content-title {
    font-style: oblique;
    font-size: 60px;
    margin-bottom: 35px;
  }
}
